# Codveda Internship â€“ Level 1  
## Task 1: Data Cleaning and Preprocessing  
This notebook documents the complete data cleaning pipeline.

In [3]:
#Import all the required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
import os       # to see the working directory
print(os.getcwd())

import os  # to list the files in the directory
os.listdir()
print(os.listdir())

In [2]:
##Importing the Raw dataset

import pandas as pd

# Load dataset
df = pd.read_csv("1) iris.csv")

# Display first 5 rows
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [26]:
df.info() #Gives overall structure of the dataset
df.shape #Gives the size of the data set

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

(150, 5)

In [27]:
#Checking for Missing values
df.isnull().any().any() #Gives an overall check for any missing values in boolean values
df.isnull().sum() #Lists the missing values of each columns if present

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [44]:
#Checking for duplicate values
print(df.duplicated().sum())
print(df[df.duplicated()])

3
     sepal_length  sepal_width  petal_length  petal_width    species
34            4.9          3.1           1.5          0.1     setosa
37            4.9          3.1           1.5          0.1     setosa
142           5.8          2.7           5.1          1.9  virginica

[34, 37, 142]

In [47]:
df_clean = df_clean.drop_duplicates() #Removing duplicates
df_clean.duplicated().sum() #Rechecking for duplicates

np.int64(0)

In [52]:
#Validating the cleaning process
print(df_clean.isnull().sum()) #Rechecking missing values
print(df_clean.duplicated().sum()) #Rechecking duplicates
print(df_clean.info()) #Reviewing the dataset for the last time

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64
0
<class 'pandas.core.frame.DataFrame'>
Index: 147 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  147 non-null    float64
 1   sepal_width   147 non-null    float64
 2   petal_length  147 non-null    float64
 3   petal_width   147 non-null    float64
 4   species       147 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.9+ KB
None

In [54]:
# OUTPUT Saving the cleaned dataset
df_clean.to_csv("cleaned_iris.csv", index=False)